<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>Sara Fatima</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
	</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->


	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.IHEInteroperabilityActivator
	</activator>


	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList
		</class>
	</extension>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>

		PatientProfile.hbm.xml

	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>org.openmrs.module.IHEInteroperability.api.impl.IHEInteroperabilityServiceImpl
		</class>
	</advice>

	<globalProperty>
		<property>IHEInteroperability.pam</property>
		<defaultValue>true</defaultValue>
		<description>This property sets the value true or false to either send a pam message or not.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>IHEInteroperability.pix</property>
		<defaultValue>true</defaultValue>
		<description>This property sets the value true or false to either send a pix message or not.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>IHEInteroperability.pix_sim_port</property>
		<defaultValue>10017</defaultValue>
		<description>This property sets the port number of the PIX simulator, where the PIX message is intended to be sent
		</description>
	</globalProperty>
	<globalProperty>
		<property>IHEInteroperability.pam_sim_port</property>
		<defaultValue>10010</defaultValue>
		<description>This property sets the port number of the PAM simulator, where the PAM message is intended to be sent
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>IHEInteroperability.pix_sim_host</property>
		<defaultValue>94.23.247.108</defaultValue>
		<description>This property sets the host path, where the PIX message is intended to be sent.
		</description>
	</globalProperty>
	<globalProperty>
		<property>IHEInteroperability.pam_sim_host</property>
		<defaultValue>94.23.247.108</defaultValue>
		<description>This property sets the host path, where the PAM message is intended to be sent.
		</description>
	</globalProperty>

</module>

